.idea
P2/tkinter/__pycache__/
P2/src/__pycache__/
P2/src/algorithms/__pycache__/
P2/output_data

P4/__pycache__/
P4/src/__pycache__/
P4/src/algorithms/__pycache__/
P4/src/gui/__pycache__/
P4/output_data

P5/output_data

P6/output_data